---
info:
  description: Training condiguration repo
  
---
spring:
  profiles: cloud

eureka:
  instance:
    hostname: ${vcap.application.uris[0]}
    nonSecurePort: 80
  client:
    serviceUrl:
      defaultZone: http://nimda:nimda@jl-eureka.cfapps.io/eureka	